.site-header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary);
  color: var(--primary-foreground);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
  font-family: var(--font-heading), sans-serif;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 82.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  &__logo {
    flex-shrink: 0;
    width: 8.5rem;
  }

  &-actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &__lang {
      background: var(--color-white);
      color: var(--primary);
      padding: 0.25rem;
      border-radius: calc(infinity * 1px);
      display: flex;
      gap: 0.25rem;
      font-size: 0.875rem;

      &-link {
        padding: 0.25rem 0.75rem;
        border-radius: calc(infinity * 1px);

        &--current {
          background: var(--primary);
          color: var(--color-white);
        }
      }
    }
  }
}

body.logged-in {
  .site-header {
    top: 2rem;
  }
}

.site-header-nav {
  &__trigger,
  &__link {
    background-color: transparent;

    &:hover,
    &:focus {
      color: var(--color-white);
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  &__trigger[data-state="open"] {
    color: var(--color-white);
    background-color: rgba(0, 0, 0, 0.2);
  }

  &__link {
    padding: 0.5rem 1rem;
  }

  &__submenu {
    font-family: var(--font-sans), sans-serif;
    min-width: 13.5rem;
  }
}