@font-face {
  font-family: "Bowlby One";
  font-display: swap;
  font-weight: 400;
  src: url("../../../static/fonts/BowlbyOne-Regular.otf") format("otf");
}

@font-face {
  font-family: "Manifold DSA";
  font-display: swap;
  font-weight: 500;
  src: url("../../../static/fonts/ManifoldDSA-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Manifold DSA";
  font-display: swap;
  font-weight: 600;
  src: url("../../../static/fonts/ManifoldDSA-DemiBold.ttf") format("ttf");
}

@font-face {
  font-family: "Manifold DSA";
  font-display: swap;
  font-weight: 700;
  src: url("../../../static/fonts/ManifoldDSA-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Manifold DSA";
  font-display: swap;
  font-weight: 800;
  src: url("../../../static/fonts/ManifoldDSA-Heavy.ttf") format("ttf");
}